
.formControl.error input,
.formControl.error textarea
{
    border: solid #ff0000 2px;
}

.formControl.error span
{
    color: #ff0000;
}

.formSummaryError {
    border: red 1px solid;
    pading: 5px;
    color: red;
}