.header {
    grid-area: h;
    background-color: rgb(174, 174, 161);
    }
.header h1 {
    text-align: center;
}
    .header img {
      width: 120px;
    }


    .loginBlock {
float: right;
        color: black;
    }

.loginBlock a {
    color: black;
}

